# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.fernandafaz15.iml
# Datasource local storage ignored files
/../../../../../../:\my-workspace\fernandafaz15\.idea\.idea.fernandafaz15.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
